@charset 'utf-8';


html, body {
    
}

body {

    left: 0;
    top: 0;
    right: 50%;
    bottom: 50%;
    width:604px; 
    height:360px;
    background-size: cover;
}


.cover-site {
    width: 604px;
	height: 355px;
	background: url() no-repeat;
	position: absolute;
	background-size: cover;
	position: absolute;
	z-index: -1;
}

/* FONDO DESENFOQUE */

#bgCover {
	width: 327px;
	height: 350px;
	background:url(https://inspeccionesserrano.github.io/Perso/Navidad/img/murcielagoK.gif) center no-repeat ;
	background-size: cover;
	position: absolute;
	margin: -26px;
	top: 29px;
	left: 0px
	border-radius: 0px;
	-webkit-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	z-index: 5;
	left: 82px;
	box-shadow: 0 0 2px #,
   0 0 25px #180df8,
   0 0 50px #d2e40e,
   0 0 200px #180df8;

   }
   a:nth-child(1){
   filter: hue-rotate(270deg);
   }
   a:nth-child(2){
   filter: hue-rotate(110deg);
   }
   a span{
   position: absolute;
   display: block;
   }
   a span:nth-child(1){
   top: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg,transparent,#DF73FF);
   animation: animate1 1s linear infinite;
   }
   @keyframes animate1{
   0%{
   left: -100%;
   }
   50%,100%{
   left: 100%;
   }
	}
/*
.bg-mask {
	width: 338px;            
	height: 338px;          
	background: url()center no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -12;
	overflow: hidden;
	left: 234px;
	top: 25px;
  	  -webkit-animation: spin 4.8s linear infinite;
    -moz-animation: spin 4.8s linear infinite;
   animation: spin 4.8s linear infinite;
	z-index: -12;
	
   }
   }

    @-moz-keyframes spin {
    100% {
     -moz-transform: rotate(360deg);
   }
   }
   @-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
   }
   @keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
   }

*/

.web-player {
    width:360px; 
    height:360px;
    color: #fff;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 5px;
}

.cover-album {
    max-width: 604px;
    margin: 1px;
    background: url() no-repeat;
    background-size: cover;
    top: 25px;

    margin-bottom: 0px;
    
}


#currentCoverArt {
  width: 330px;
  height: 330px;
  background: url()center no-repeat;
  opacity: 0.2;
  background-size: cover;
  position: absolute;
  border-radius: 100%;
  -webkit-box-shadow: 2px 3px 30px 0px rgba();
  -moz-box-shadow: 2px 3px 30px 0px rgba();
  box-shadow: 2px 3px 30px 0px rgba();
  z-index: -12;
  overflow: hidden;
  right: -125px;
  top: 13px;
      -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
    -webkit-transition: all 2500ms;
    -moz-transition: all 2500ms;
    transition: all 2500ms;
  
   }
   .is-playing #currentCoverArt {
    right: 215px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}



/* ZONA FONDO CANCIONES SONADAS */
/*
.historic article {
    margin: 5px 0;
    padding: 10px;
    background-color: none;
}

.historic .cover-historic { 
    width: 95px;
    height: 95px;
    margin-right: 15px;
    float: left;
    border-radius: 10px;
    background: url('https://kastro-59.github.io/star/CD/N78rys5.png/-/preview/-/quality/smart/-/format/auto/') no-repeat;
    background-size: cover;
    border: 2px solid #fefefe;
   
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-image 1s;
}
*/
/* COLOR TEXTO INFO ARTISTA */
.historic .music-info {
    color: white;
    font-family: 'Reem Kufi', sans-serif;
}


/* COLOR TEXTO CANCION */

.historic .music-info .song {
    width: 360px;
    font-weight: bold;
    font-size: 20px;
    
    margin-bottom: 10px;
    color: white;
}

@media(max-width: 360px) {
    .cover-album {
        max-width: 360px;
    }
}
/*
@media(min-width: 300px) {
    .volume-control {
        display: flex;
    }

    .call-lyrics {
        margin-top: 20px;
    }
}

@media(min-width: 300px) {
    body {
        align-items: center;
    }
*/
    .h1-logo {
        text-align: center;
    }

    .logo {
        display: block;
        z-index: 2;
    }

    .logo img {
        max-width: 50px;
    }

    .web-player {
        height: auto;
        margin-top: 0;
    }

    .cover-album {
        margin: 10px auto;
        min-width: 354px;
        height: 360px;
    }


